.fundraising-campaign.compact {
  margin-bottom: 10px;
  border-bottom: 1px dotted #ccc;
  border: 1px solid #aaa;
  min-width: 400px;
}

.fundraising-campaign.compact .campaign-image {
  float: right;
  margin: 0 0 20px 20px;
}

.fundraising-campaign.compact .campaign-text {
  min-width: 300px;
  padding-left: 170px;
}

.fundraising-campaign.compact h2.campaign-title {
  margin: 0;
  padding: 0;
}

.fundraising-campaign.compact .campaign-metrics {
  color: #777;
  background-color: #ddd;
  float: left;
  padding: 20px;
  width: 100px;
} 
#content .fundraising-campaign.compact dl.campaign-metrics {
  margin-bottom: 0; 
}
#content .fundraising-campaign.compact .campaign-metrics dt,
.fundraising-campaign.compact .campaign-metrics dt {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  display: block;
}
#content .fundraising-campaign.compact .campaign-metrics dt.progress-bar {
  margin-bottom: 15px;
}
#content .fundraising-campaign.compact .campaign-metrics dd,
.fundraising-campaign.compact .campaign-metrics dd {
  font-size: 10px;
  text-align: right;
  display: block;
}

/* progress bar container */
.progress-bar{
  border:1px solid #444;
  height:20px;
  position:relative;
  color:black; 
  background-color: white;
  padding: 5px;
}
.progress-bar span.value{
  display: none;
}
/* color bar */
.progress-bar div.progress{
  position:absolute;
  margin: -5px 1px 0 -5px;
  width:0;
  height: 20px;
  overflow:hidden;
  background-color:#666;
  padding: 5px 0;
}
/* text on bar */
.progress-bar div.progress .text{
  font-size: 24px;
  font-weight: bold;
  position:absolute;
  text-align:center;
  padding: 6px 0 5px 0;
  height: 20px;
  margin-top: -5px;
  color:white;
  display: block;
}
/* text off bar */
.progress-bar div.text{
  font-size: 24px;
  font-weight: bold;
  position:absolute;
  padding: 6px 0 5px 0;
  width:100%;
  margin-left: -10px;
  text-align:center;
  color: #999;
  padding: 5px 0;
  height: 20px;
  margin-top: -5px;
  display: block;
}

/* No idea why this is necessary */
.portlet .progress-bar div.progress .text {
  padding-top: 2px;
}
.portlet .progress-bar div.text {
  padding-top: 2px;
}

.count-large {
  display: block;
  text-align: center;
  width: 90px;
  padding: 10px;
  float: left;
  background-color: #ddd;
  margin-right: 10px;
  margin-bottom: 7px;
  height: 70px;
}
.count-large strong {
  font-size: 24px;
  color: #777;
  display: block;
  padding-top: 14px;
}
.campaign-metrics .discreet,
.count-large .discreet {
  color: #999;
}
.count-large.right {
  clear: right;
  margin-right: 0;
}
.count-large a {
  text-decoration: none !important;
  border-bottom: none !important;
}
.count-large a:hover {
  text-decoration: underline !important;
}

body.template-create-personal-campaign-page #edit-bar{
  display: none;
}

.campaign-donate-form {
  background-color: #eee;
  border: 2px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  -moz-border-radius: 20px;
}
.campaign-donate-form h2 {
  margin-left: 10px;
}
a.button-create-personal-campaign {
  display: block;
  float: left;
  color: black;
  background-color: #eee;
  border: 3px solid #eaeaea;
  font-size: 19px;
  font-weight: bold;
  padding: 7px 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0 15px 15px 0;
}
a.button-create-personal-campaign:hover {
  border: #ddd;
}

.campaign-dates {
  margin-top: 5px;
}

.campaign-dates .start-date {
  display: block;
  float: left;
}
.campaign-dates .end-date {
  display: block;
  text-align: right;
}
